{#{% extends "base.html" %}#}

{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
{#<h1>{% trans "Sign In" %}</h1>#}
{##}
{##}
{#{% if socialaccount_providers %}#}
{#<p>{% blocktrans with site.name as site_name %}Please sign in with one#}
{#of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>#}
{#for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>#}
{##}
{#<div class="socialaccount_ballot">#}
{##}
{#  <ul class="socialaccount_providers">#}
{#    {% include "socialaccount/snippets/provider_list.html" with process="login" %}#}
{#  </ul>#}
{##}
{#  <div class="login-or">{% trans 'or' %}</div>#}
{##}
{#</div>#}
{##}
{#{% include "socialaccount/snippets/login_extra.html" %}#}
{##}
{#{% else %}#}
{#<p>{% blocktrans %}If you have not created an account yet, then please#}
{#    <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>#}
{#{% endif %}#}

    <div class="form__login active">
    <span id="close-form__login" class="fas fa-times"></span>

    <form action="{% url 'account_login' %}" method="post">
         {% csrf_token %}
        <h3 class="form__login-title">Авторизация</h3>
        <input
                type="text"
                placeholder="username"
                name="login" id="id_login"
                autocomplete="username"
                class="form__login-input"
        />
        <input
                type="password"
                placeholder="password"
                class="form__login-input"
                name="password"
                required
                id="id_password"
        />
        <div class="form__login-check">
            <span>Запомнить аккаунт</span>
            <input type="checkbox" name="remember" id="id_remember">
        </div>
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <p class="form__login-text">
            Забыли пароль? <a href="{% url 'account_reset_password' %}">Восстановить!</a>
        </p>
        <input type="submit" value="login" class="btn btn-primary"/>
        <p class="form__login-text">Авторизация с помощью</p>
        <div class="form__buttons">
            <a href="#" class="btn btn-primary"> google </a>
            <a href="#" class="btn btn-primary"> facebook </a>
        </div>
        <p class="form__login-text">
            Нет учетной записи? <a href="{% url 'account_signup' %}">Регистрация</a>
        </p>
    </form>
</div>

{% endblock %}


{#    <div class="form__login active">#}
{#        <form class="login" method="POST" action="{% url 'account_login' %}">#}
{#            {% csrf_token %}#}
{#            {{ form.as_p }}#}
{#            {% if redirect_field_value %}#}
{#                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>#}
{#            {% endif %}#}
{#            <a class="button secondaryAction"#}
{#               href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>#}
{#            <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>#}
{#        </form>#}
{#    </div>#}